.App {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.container {
  position: relative;
}

.container,
.left-content {
  min-height: 800px;
}

.left-content {
  display: inline-block;
  width: 180px;
  padding: 0 10px 10px;
  background-color: rgba(191, 191, 191, 0.15);
  box-shadow: -5px 0 14px -8px rgba(0, 0, 0, 0.25) inset;
}

.right-content {
  position: absolute;
  right: 0;
  left: 300px;
  top: 0;
  height: 100%;
}


.right-content .sub-title {
  font-size: 120%;
  color: rgba(152, 152, 152, 0.8);
}

.title-container {
  margin-top: 30px;
  margin-left: 204px;
  min-height: 140px;
  margin-bottom: 10px;
}

.title-container .request-data-type {
  font-size: 240%;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 10px;
}


.stats {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}


#tabpanel {
  margin-top: 10px;
}

#tabpanel .dx-multiview-wrapper {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

#tabpanel .tab-panel-title {
  font-size: 120%;
  font-weight: 500;
}

#tabpanel .dx-multiview-item-content {
  padding: 20px 0 22px;
  min-height: 178px;
  position: relative;
}

#tabpanel .right-content {
  top: 15px;
  left: 202px;
}

#tabpanel .stats {
  width: 398px;
  margin-top: 20px;
  border-top: 1px solid rgba(191, 191, 191, 0.25);
}


/*Scrol View CSS*/

.left-content .dx-treeview-node.dx-state-selected > .dx-item > .dx-item-content {
  font-weight: 500;
}

#scrollview-demo {
  min-height: 550px;
}

.text-content {
  white-space: pre-wrap;
}

#scrollview {
  height: 550px;
  position: absolute;
  top: 150px;
  left:280px;
  right:20px;
  bottom: 5px;
  padding: 20px;
}

.toolbar-label,
.toolbar-label > b {
  font-size: 16px;
}

#gridContainer {
  height: 450px;
  margin-bottom: 10px;
}

/*Click Change CSS*/
.form {
  margin-left: 3px;
}

.form > div:first-child {
  margin-right: 320px;
}

.label {
  font-size: 22px;
}

#product-details {
  width: 400px;
  height: 400px;
  margin: 20px auto 0;
}

#product-details > img {
  height: 300px;
  width: 400px;
}

#product-details > .name {
  text-align: center;
  font-size: 20px;
}

#product-details > .price {
  text-align: center;
  font-size: 24px;
}

.dark #product-details > div {
  color: #f0f0f0;
}

.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}
